@model Slider
<div class="container">
    <h4>Slider / Create</h4>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-action="create" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Order">Order</label>
                        <input asp-for="Order" value="@ViewBag.Order" class="form-control">
                        <span class="text-danger" asp-validation-for="Order"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title1">Promotion</label>
                        <input asp-for="Title1" class="form-control" id="nameInput">
                        <span class="text-danger" asp-validation-for="Title1"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title2">Title</label>
                        <input asp-for="Title2" class="form-control" id="nameInput">
                        <span class="text-danger" asp-validation-for="Title2"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BtnText">BtnText</label>
                        <input asp-for="BtnText" class="form-control" id="nameInput">
                        <span class="text-danger" asp-validation-for="BtnText"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RedirectUrl">Redirect Url</label>
                        <input asp-for="RedirectUrl" class="form-control" id="nameInput">
                        <span class="text-danger" asp-validation-for="RedirectUrl"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageFile">ImageFile</label>
                        <input asp-for="ImageFile" class="form-control" id="nameInput">
                        <span class="text-danger" asp-validation-for="ImageFile"></span>
                    </div>
                    <button type="submit" class="btn btn-primary m-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

