    <section class="error-page">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div>
                        <span class="text-danger"> Oops! Somthing's missing.</span>
                        <h1 class="title">Page not found</h1>
                        <p>It seems like we dont find what you searched. The page you were looking for doesn't exist, isn't available loading incorrectly.</p>
                        <a asp-action="index" asp-controller="home" class="btn btn-danger">Back To Home</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div><img width="100%" src="~/assets/images/404.png" alt="404"></div>
                </div>
            </div>
        </div>
    </section>