@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style-type: none;
}
.navbar{
    border-radius: 10px;
}
.language{
    text-decoration: none;
    color: gainsboro;
}

.slider_title{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.icons{
    display: flex;
    margin-right: 5%;
}
.icons a{
    margin-right: 20%;
    font-size: 24px;
}

.product-style-one{
    width: 100%;
    border-radius: 6px;
}

.content{
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.product-hover-action{
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    transition: 0.5s;
    opacity: 0;
    overflow: hidden;
}


.product-image{
    position: absolute;
    top: 0;
    opacity: 0;
}


.arrival-image{
    position: relative;
}
.arrival-image img{
    width: 100%;
    border-radius: 25%;

}
.product-content-image{
    position: relative;
}
    .product-content-image img {
        width: 100%;
        border-radius: 10%;
    }
.label-block{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: rgb(47, 47, 184);
    border-radius: 0px 15px 0px 5px;
    padding: 0.3rem;
}








.content:hover .product-image {
    opacity: 1;
}
.content:hover .product-hover-action {
    opacity: 1;
    overflow: visible;
    bottom: 5%;
}
.slick-prev:before, .slick-next:before{
    color: black;
}
.product-content .title a{
    text-decoration: none;
    color: black;
}
.product-content .title a:hover{
    text-decoration: none;
    color: blue;
}
.product-rating i{
    color: silver;
    
}
.old-price{
    color: silver;
}
.product-one{
    text-align: center;
}
.main-category{
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.category-items img{
    width: 70px;
    margin: auto;
    padding-top: 1rem;
}
.category-items{
    border: 2px solid #f2f2f2;
    border-radius: 10px;
}
.category-items p{
    padding-bottom: 1rem;
    text-align: center;
    margin: auto;
    font-weight: bold;
    
}
.main-category-title{
    margin: 1rem;
}


.review-main{
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: #f9f3f0;
    
}
.review-slider-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-speech{
    background-color: white;
    border-radius: 10px;
    height: 150px;
    overflow: hidden;
}
.review-speech p{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
}
.review-user{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-image img{
    border-radius: 10px;
    box-shadow: 0px 1px 1px black;

}
.user-title{
    color: black;
    text-shadow: 0px 0px 1px rgb(110, 109, 109);
}
.main-review{
    border-radius: 10px;
    background-color: transparent;
    padding: 0.5rem;
    margin: 0.5rem;
}

.service-area, .newsletter, .review-main{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.service-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.etrade-newsletter{
    background-image: url(../images/bg-image-5.jpg); 
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
    background-position: center;
    padding: 100px 107px 85px;
    border-radius: 6px;
}
.etrade-newsletter input{
    padding-left: 10px;
    height: 40px;
    width: 390px;
    outline: none;
    border: 1px solid silver;
    border-radius: 10px 0 0 10px;
}
input:is(:focus){
    border-color: rgb(151, 151, 196);
}

@media (max-width: 900px) {
    .etrade-newsletter{
        background-size: 180%;
        padding: 5rem;
        border-radius: 20px;
    }
    .etrade-newsletter input{
        width: 100%;
        border-radius: 6px;
    }
    .etrade-newsletter .btn{
        margin: 1rem;
        border-radius: 6px;
    }
  }

.service-title, .service-whyus{
    padding: 1rem;
}
.service-items{
    align-items: center;
    margin-bottom: 5rem;
}

.service-why-box{
    padding-top: 2rem;
    width: 100%;
    height: 150px;
    border: 2px solid rgb(234, 226, 226);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-poster {
    position: relative;
    overflow: hidden;
    border-radius: 6px
}

.single-poster a {
    display: block
}

.single-poster a img {
    transition: .5s;
    width: 100%
}

.single-poster .poster-content {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
    padding-right: 100px;
    pointer-events: none
}

@media only screen and (max-width: 479px) {
    .single-poster .poster-content {
        padding: 20px;
    }
    .new-footer-widget{
        text-align: center;
    }
    .most-product-list {
        position: relative;
        border: 1px solid rgb(240, 236, 236);
        border-radius: 5px;
        text-align: center;
    }
    .product-price,.price,.title{
        justify-content: center;
        text-align: center; 
    }
}

.single-poster .poster-content.content-left {
    right: auto;
    left: 0;
    padding-right: 0;
    padding-left: 60px
}

@media only screen and (max-width: 991px) {
    .single-poster .poster-content.content-left {
        padding-left: 30px
    }
}

.single-poster .poster-content.content-left .title {
    margin-bottom: 0;
    margin-top: 8px
}

.single-poster .poster-content.content-left .sub-title {
    color: rgba(255, 255, 255, .6);
    transition: all .3s ease-in-out
}

.single-poster .inner .title {
    line-height: 1;
    margin-bottom: 20px;
    font-size: 40px;
    color: white;
}

@media only screen and (max-width: 767px) {
    .single-poster .inner .title {
        font-size: 30px
    }
}

@media only screen and (max-width: 575px) {
    .single-poster .inner .title {
        font-size: 22px
    }
}

@media only screen and (max-width: 479px) {
    .single-poster .inner .title {
        margin-bottom: 10px
    }
}

.single-poster .inner .sub-title {
    font-size: 16px;
    line-height: 24px;
    position: relative;
    color: rgba(255, 255, 255, .4);
    transition: all .3s ease-in-out
}

.single-poster .inner .sub-title i {
    vertical-align: middle;
    margin-left: 10px
}

.single-poster:hover img {
    transform: scale(1.1)
}

@media only screen and (max-width: 575px) {
    .single-poster:hover img {
        transform: scale(1.25)
    }
}

.single-poster:hover .poster-content .sub-title {
    color: white
}

a{
    text-decoration: none;
    color: black;
}

.download-btn-group{
    display: flex;
    gap: 0.5rem;
}
.app-link img{
    margin: 0.3rem;
}
.payment-icons-bottom,.copyright-right{
    display: flex;
    gap: 0.5rem;
    text-align: center;
    align-items: center;
}

.cart-item{
    display: flex;
    padding: 1rem;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}
.cart-item img{
    width: 100%;
    padding: 0.5rem;
}
.item-img{
    position: relative;
}
.close-btn{
    position: absolute;
    left: 0;
    border: 1px solid silver;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.close-btn:hover{
    border: 1px solid blue;
}

.item-content .rating-number{
    font-size: 0.8rem;
}

body{
    background-color: #f3f3f3 ;
}



.nav-tabs{
    display: flex;
    flex-direction: column;
}

.color-red{
    color: red;
}
.address-info{
    border: 1px solid rgb(233, 224, 224);
    border-radius: 10px;
    margin: 1rem;

}

.address-info .addrss-header{
    border-bottom: 1px solid silver;
}
.address-info .title{
    margin: 0.5rem 0.5rem 0.5rem 2rem;

}

.new-dashboard-aside, .new-dashboard-area{
    padding: 1rem;
    margin: 1rem;
    min-height: 50vh;
}
.checkout-area{
    padding: 1rem;
}
.form-group{
padding: 0.3rem;
}

#Region{
    width: 100%;
}
.amount, .order-shipping label{
    padding-left: 1rem;
}

.form-group textarea{
    width: 100%;
    height: 150px;
    border: 1px solid silver;
    resize: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem;

}
.form-group input{
    width: 100%;
    border: 1px solid silver;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem;

}

textarea:is(:focus){
    border-color: rgb(151, 151, 196);
}
input:is(:focus){
    border-color: rgb(151, 151, 196);
}

.amount, .order-product td, .order-total-amount{
    font-weight: bold;
}
.order-summery{
    padding: 1rem;
}

.newsletter-content i{
    border: 1px solid gray;
    border-radius: 50px;
    padding: 0.2rem;
    margin: 0.2rem;
    background-color: rgb(247, 242, 242);
}

.forget-area{
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    border: 1px solid rgb(240, 236, 236);
}
.most-product-list{
    position: relative;
    border: 1px solid  rgb(240, 236, 236);
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
}
.product-content{
    padding: 1rem;
}
.most-product-list{
    display: flex;
}
.most-images img {
    width: 128px;
    height: 128px;
    border-radius: 10px;
}
.product-cart{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    top: 20%;
}

.most-product-list:hover{
    outline: 1px solid rgb(214, 208, 208);
}
.product-cart .btn{
    border: 1px solid rgb(214, 208, 208);
}
.product-cart a{
    margin: 0.5rem;

}
.product-area{
    border: 1px solid  rgb(240, 236, 236);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 5rem;
}

.most-title i, .explore-title i, .this-title i{
    background-color: #8C71DB;
    color: #fff;
    padding: 0.4rem;
    border-radius: 50%;
    cursor: pointer;
}
.most-title{
    text-align: center;
}

.product-price .current-price{
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .most-product-list{
        display: flex;
        flex-direction: column;
    }
    .product-cart{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.color-btn{
    background-color: #ff497c;
    color: #fff;
}
.color-white-btn{
    background-color: #fff;
    color: black;
}
.modal-product{
    display: flex;
    justify-content: center;
}
.modal-image{
    width: 50%;
}
.modal-product img{
    width: 100%;
    border-radius: 10px;
}

.error-page{
    background-color: #fff;
    padding: 3rem;
}
.contact-us, .service-area{
    padding: 2rem;
}

.social-share i{
    color: gray;
    padding: 0.4rem;
    border-radius: 50%;
    transition: 0.25s ease-in-out;
}
.social-share i:hover{
    color: white;
    padding: 0.4rem;
    background-color: #ff497c;
    border-radius: 50%;
}
.dropdown{
    display: inline-block;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main_slider{
    background-color: #f9f3f0;
    border: 1px solid #fff;
    padding: 1rem;
}

.slider-image img{
    width: 100%;
}
.main-slider-icon{
    display: block;
}
.item-rating{
    display: flex;
    justify-content: space-around;
}
.slider-author-images{
    position: relative;
}
.slider-author-images img{
    position: relative;
    border: 2px solid rgb(239, 237, 237);
    border-radius: 50%;
}
.slider-author-images img:nth-child(1){
    position: absolute; 
    left: 90%;
}
.slider-author-images img:nth-child(2){
    position: absolute; 
    left: 60%;
}
.slider-author-images img:nth-child(3){
    position: absolute; 
    left: 30%;
}

.slider-main .subtitle{
    padding: 1rem;
    margin: 1rem;
    font-size: 12px;
    font-weight: bold;
    text-align: start;
    color: red;
}
.slider-btn, .item-rating{
    margin-bottom: 1rem;
}
.slider-main .title{
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
   margin: 1rem; 
    width: 40%;

}
.main-slider-content{
    margin: 1rem;
    padding: 1rem;
    transition: 1s;
}


@media (max-width: 900px) {
    .slider-main{
        text-align: center;
    }
    .slider-image img{
        width: 70%;
    }
    .slider-image{
        display: flex;
        justify-content: center;
    }
    .slider-main .title{
        font-size: 24px;
        font-weight: bold;
        padding: 0.2rem;
       margin: 0.2rem; 
        width: 100%;
    
    }
  }

  
body{
    background-color: #f9f3f0;
}
.form-group input{
    width: 100%;
    border: 1px solid silver;
    outline: none;
    border-radius: 5px;
}

.form-group textarea{
    width: 100%;
    height: 150px;
    border: 1px solid silver;
    resize: none;
    outline: none;
    border-radius: 5px;

}

textarea:is(:focus){
    border-color: rgb(151, 151, 196);
}
input:is(:focus){
    border-color: rgb(151, 151, 196);
}
.star{
    color: red;
}

.google-map iframe{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.title, .form-group,.google-map{
    padding-top: 1rem;
}


.cart-header{
    margin: auto;
    text-align: center;
    background-color: #f6f7fb;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}
.main-cart-title{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-header p {
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}
.cart-body{
    margin: auto;
    text-align: center; 
    align-items: center;
    border: 1px solid rgb(246, 243, 243);
    border-radius: 5px;
}
.cart-mobile{
    display: none;
}
.cart-body{
    padding: 1rem;
    position: relative;
}

.cart-image img{
    width: 70px;
    height: 70px;
}
.remove-cart{
    font-size: 24px;
    display: flex;
    justify-content: center;
}
.remove-cart button{
    cursor: pointer;
    border: none;
    border-radius: 50px;
    border: 2px solid transparent;
}
.remove-cart button:hover{
    border: 2px solid blue;
}

@media (max-width: 768px) {
    .cart-header{
        display: none;
    }
    .cart-body{
        margin: auto;
        text-align: left; 
    }
    .cart-mobile{
        display: contents;
        color: red;
    }
    .remove-cart{
        position: absolute;
        right: 5%;
        z-index: 99;
    }
  }
.quantity, .title, .price, .subtotal{
    color: rgb(89, 87, 87);
    display: flex;
}

a{
    text-decoration: none;
}

  .wrapper{
    height: 30px;
    width: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    overflow: hidden;
  }
  .wrapper span{
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
  }
  .wrapper span.num{
    font-size: 1.3rem;
    text-align: center;
    align-items: center;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
  }
  .go-to-check{
    padding: 2rem;
    text-align: end;
  }
  .checkbtn{
    padding: 1rem;
    font-weight: 600;
  }


  .breadcrub-blue{
    color: #3577f0;
}

.breadcrub-title{
    color: silver;
}
.breadcrub-home{
    text-decoration: none;
    color: silver;
}
.breadcrub-home:hover{
    text-decoration: none;
    color: #3577f0;
}
.breadcrumb-title{
    padding: 1rem;
}

.breadcrumb-area{
    background-color: #f9f3f0;
    padding: 2rem;
}
.bradcrumb-image{
    text-align: right;
}

.blog_header {
    background-color: blue;
    min-height: 30vh;
    display: flex;
    align-items: center;
}
.blog_header .blog_title {
    font-size: 3rem;
    font-weight: 200;
    color: blue;
}
.blog_watch {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.blog_watch .blog_content {
    margin: 1rem;
    border: 1px solid rgb(235, 234, 234);
    padding: 1rem;
    border-radius: 1rem;
}
.blog_watch .blog_content .image {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}
.blog_watch .blog_content .image button {
    position: absolute;
    border: none;
    padding: 0.2rem;
    font-size: 1rem;
    bottom: 2%;
    right: 2%;
    border-radius: 0.5rem;
    transition: 0.5s;
    background-color: gray;
    border: 1px solid white;
    color: white;
}
.blog_watch .blog_content .image button:hover {
    color: rgb(184, 215, 245);
}
.blog_watch .blog_content .image img {
    cursor: pointer;
    width: 100%;
    transition: 1s;
}
.blog_watch .blog_content .image img:hover {
    transform: scale(1.1);
}

.blog-last{
    width: 100%;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(235, 234, 234);
}

.blog-last hr{
    color: rgb(235, 234, 234);
}

.blog-last-content{
    display: flex;
    border: 1px solid transparent;
    margin: 1rem;
}

.blog-last-image img{
    width: 100%;
    height: 100%;
}

@media (max-width: 992px) {
    .blog_watch{
        margin: 2rem 2rem;
        grid-template-columns: 1fr;
}
}
@media (max-width: 768px) {
    .blog_watch{
        margin: 0;
        grid-template-columns: 1fr;
}
}

.blog-button{
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-style: 1.3rem;
    font-family: sans-serif;
    text-align: left;
    position: relative;
    width: 200px;
    display: inline-block;
    color: #1b1b1b;
    text-decoration: none;
    width: auto;
    padding: 2px 0;
    font-size: 1rem;
    cursor: pointer;

}
.blog-button::before{
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 1.5px;
    background-color: blue;
    transition: 0.3s;
}
.blog-button:hover::before{
    width: 100%;
}
.blog-button.active::before{
    width: 100% !important;
}



.about-01-area, .about-info-area{
    margin-top: 2rem;
}
.about-info-box{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(229, 227, 227);
    border-radius: 6px;
}
.about-info-box:hover{
    cursor: pointer;
    border: 1px solid #3577f0;
}
.team-area{
    padding: 2rem;
}
.slick-prev:before, .slick-next:before{
    color: black;
}
.multiple-items{
    display: flex;
    justify-content: space-around;
}

.single-team-item, .feature-about{
    padding: 1rem;

}
.team-image img{
    width: 100%;
    opacity: 0.8;
}
.team-image{
    border-radius: 1rem;
    overflow-y: hidden;
    overflow: hidden;
}
.team-image img:hover{
    opacity: 1;
    cursor: pointer;
}
.feature-about-image img{
    width: 100%;
    border-radius: 1rem;
}
.input-group input{
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 10px 0 0 10px;
}


.bg-navbar{
    background-color: #f9f3f0;
    padding: 0.2rem;
    height: 15vh;
}
.navbar{
    background-color: white;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    border: 2px solid rgb(240, 237, 237);
}
.nav-fixed{
    position: fixed;
    margin: auto;
    z-index: 9;
    width: 98%;
}
.mobile{
    display: none;
}
.menu, .icon{
    display: block;
}
.menu span{
    margin-right: 2rem;
    font-size: 16px;
    font-weight: bold;
}


.mobile i, .main-icon{
    color: black;
    font-size: 24px;
    cursor: pointer;
    border: 10px solid transparent;
    transition: 0.25s ease-in-out;
    border-radius: 50%;
}
    .mobile i:hover, .main-icon:hover {
        color: white;
        background-color: #ff497c;
        border-radius: 50%;
        border: 10px solid #ff497c;
    }
.main-shopping-cart{
    position: relative;
}
.cart-num {
    color: black;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 20%;
}
    main-icon:hover .cart-num{
    color: white;
    }
.mobile-menu{
    display: none;
}

@media (max-width: 900px) {
    .mobile{
        display: block;
    }
    .menu{
        display: none;
    }
   
    .navbar{
        
        position: relative;
    }
    .menu span{
        margin-right: 1rem;
        
    }
    .mobile-menu{
        display: block;
        height: 0;
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        border-radius: 0 0 10px 10px;
        padding: 0rem;
        background: white;
        transition: 1s; 

        overflow: hidden;    
    }
    .mobile-menu.active{
        padding-bottom: 1rem;
        z-index: 1;
        height: auto;
    }
    .mobile-menu.active span{
        opacity: 1;
    }
    .mobile-menu span{
        display: block;
        text-align: center;
        color: black;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        transition: 1.5s;
        opacity: 0.25;
    }
    .mobile-menu a{
        text-decoration: none;
    }
  }
  @media (max-width: 992px) {
    .menu span{
        margin-right: 1rem;
    }
    .icon button{
        align-items: end;
        text-align: end;      
    }
  }

  .menu-button{
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-style: 1.3rem;
    font-family: sans-serif;
    text-align: left;
    position: relative;
    width: 200px;
    display: inline-block;
    color: #1b1b1b;
    text-decoration: none;
    width: auto;
    padding: 2px 0;
    font-size: 1rem;
    cursor: pointer;

}
.menu-button::before{
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: 0.3s;
}
.menu-button:hover::before{
    width: 100%;
}
.menu-button.active::before{
    width: 100% !important;
}



.main-product-image img{
    width: 90%;
}





.product-tabs li a{
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: left;
    position: relative;
    text-decoration: none;
    width: auto;
    color: gray;
    padding: 3px 0;
    margin-left: 1.2rem;

}
.product-tabs li a::before{
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 1.5px;
    color: rgb(73, 128, 248);
    background-color: rgb(73, 128, 248);
    transition: 0.3s;
}
.product-tabs li a:hover::before{
    color: rgb(73, 128, 248);
    width: 100%;
}
.product-tabs li a.active::before{
    width: 100%;
}
.product-tabs li a:hover{
    color: rgb(73, 128, 248);
}
.product-tabs li a.active{
    color: rgb(73, 128, 248);
}

.product-features{
    display: flex;
    justify-content: start;

}
.product-desc{
    background-color: #f9f3f0;
    padding: 1rem;
}
.single-features{
    list-style-type: none;
    padding: 1rem;
}
.single-desc{
    padding-top: 1rem;
}
.single-desc .title{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.product-icon {
    width: 60px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    display: flex;
}
.product-icon-detail{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.product-icon-detail img{
    width: 50%;
    height: 50%;
    background-color: white;
}

.single-features p{
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-right: 1rem;
}

.product-additional-info{
    padding: 1rem;
}
.table-responsive{
    background-color: white;
}
.table-responsive th{
    padding: 0.5rem;
}

.comment{
    list-style-type: none;
}
.single-comment{
}
.comment-body{
    border: 1px solid rgb(236, 230, 230);
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 20px;
}
.comment-img img{
    width: 90%;
}
.commenter{
    display: flex;
    justify-content: space-between;
}

.product-commnet-area{
    padding: 1rem;
}
.product-commnet-area h5{
    padding: 1rem;
}

.comment-respond{
    padding: 1rem;
    margin: 1rem;
}
.form-group{
    padding-top: 1rem;
}
.rating-product i, .commenter-rating i, .product-icon i{
    color: silver;
}
.star-on {
    color: #fec701!important;
}
.form-submit button{
    padding: 1rem;
    margin: 1rem;
    font-weight: bold;
}
.form-group textarea{
    width: 100%;
    min-height: 100px;
    border-radius: 5px;
    padding: 0.2rem;
    border: 1px solid rgb(236, 230, 230);
}

.form-group input{
    width: 100%;
    border: 1px solid rgb(236, 230, 230);
    min-height: 40px;
}

.single-product-thumbnail img{
    position: absolute;
    top: 0;
    width: 20%;
}
.main-product-image{
    margin: 1rem;
}
.slider-for img{
    width: 70%;
    margin: auto;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
}
.slider-nav img{
    width: 70%;
    margin: auto;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid transparent;

}
.slider-nav img:hover{
    border: 2px solid rgb(167, 167, 244);
}
.main-product-info{
    padding: 1rem;
    margin: 1rem;
}

.main-product-cart input{
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid silver;
    border-radius: 10px;
}
.btn-min, .btn-max{

    width: 30px;
    height: 35px;
    text-align: center;
    align-items: center;
    border: 1px solid silver;
    border-radius: 10px;
}
.review-username{
    text-decoration: none;
    color: black;
}
.review-time{
    color: black;
    border: 1px solid rgb(223, 220, 220);
    padding: 0.5rem;
    border-radius: 20px;
}
.review-time:hover{
    color: rgb(63, 99, 208);
    cursor: pointer;
}
.commenter{
    align-items: center;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.shop-category{
    padding: 0.5rem;
    margin: 0.1rem;
    border: 1px solid blue;
    border-radius: 1px;
    font-family: sans-serif;
}
.category-title{
    font-size: 24px;
    border: 1px solid gray;
    background-color: rgb(163, 213, 163);
    border-radius: 10px;
    padding: 0.2rem;
    text-align: center;
    font-weight: bold;
}
.shop-filter{
    width: 95%;
    margin: auto;
    margin-top: 1rem;
}
.shop-filter button{
    width: 100%;
    padding: 1rem;
}




.toggle-list{
    border-bottom: 1px solid silver;
    border-radius: 6px;
    text-align: start;
    padding: 1rem;
}
.toggle-list .title{
    text-align: center;
    border-bottom: 1px solid silver;
}



.product-nav label{
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background-color: hsl(30, 50%, 75%);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 2px rgb(234, 233, 233),
                2px 2px 2px -1px rgba(0, 0, 0, 0.25);
    transition: 200ms all ease-in-out;
}

.product-nav label + label{
    margin-left: 0.5rem; 
}

.product-nav label:nth-of-type(1), 
#color-1:checked ~ .product::after{
    background-color: hsl(0, 0%, 0%);
}
.product-nav label:nth-of-type(2), 
#color-2:checked ~ .product::after{
    background-color: hsl(0, 100%, 50%);
}
.product-nav label:nth-of-type(3),
#color-3:checked ~ .product::after{
    background-color: hsl(0, 0%, 48%);
}
.product-nav label:nth-of-type(4),
#color-4:checked ~ .product::after{
    background-color: hsl(128, 100%, 30%);
}


#color-1:checked ~ .product-nav > label:nth-of-type(1), 
#color-2:checked ~ .product-nav > label:nth-of-type(2),
#color-3:checked ~ .product-nav > label:nth-of-type(3),
#color-4:checked ~ .product-nav > label:nth-of-type(4){
    transform: scale(1.3);
}

#color-1:checked ~ .product-nav > label:nth-of-type(1){
    background-color: hsl(0, 0%, 0%);
}
#color-2:checked ~ .product-nav > label:nth-of-type(2){
    background-color: hsl(0, 100%, 50%);
}
#color-3:checked ~ .product-nav > label:nth-of-type(3){
    background-color: hsl(0, 0%, 41%);
}
#color-4:checked ~ .product-nav > label:nth-of-type(4){
    background-color: hsl(128, 100%, 28%);
}

.shop-product{
    margin-top: 1rem;
    text-align: center;
    border: 1px solid rgb(247, 241, 241);
    border-radius: 10px;
}
.shop-desc{
    text-align: end;
    padding-right: 1rem;
}


/*Dynamic Rating*/
.rating-row p {
    margin-right: 3px;
    display: inline-block;
    font-weight: 500;
}
.input-top{
    margin-top: 2rem;
}
.rating-widget-block {
    position: absolute;
    transform: rotateY(180deg);
}
    .rating-widget-block input {
        display: none;
    }
    

    .rating-widget-block label {
        margin-right: 10px;
        cursor: pointer;
        position: relative;
        margin-bottom: 0;
        display: inline-block;
    }

        .rating-widget-block label:last-child {
            margin-right: 0;
        }

        .rating-widget-block label:before {
            content: "\f005";
            font-family: "Line Awesome Free";
            position: relative;
            display: block;
            font-size: 16px;
            color: #e3e3e3;
            font-weight: 900;
        }

        .rating-widget-block label:after {
            content: "\f005";
            font-family: "Line Awesome Free";
            position: absolute;
            display: block;
            font-size: 16px;
            color: #fec701;
            font-weight: 900;
            top: 0;
            left: 0;
            opacity: 0;
            -webkit-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
        }

        .rating-widget-block label:hover ~ label:after,
        .rating-widget-block label:hover:after,
        .rating-widget-block input:checked ~ label:after {
            opacity: 1;
        }

.shop_search input {
    outline: 0;
    border: 1px solid silver;
}

.header-search-1-form{
    width: 100%;
}
.header-search-1-form input{
    width: 100%;
}

.team-title {
    text-align: center !important;
}
.comment, .single-product{
    display: none;
}





.slider-box{
    width: 90%;
    margin: 5px auto
}

    .slider-box label, .slider-box input{
        border: none;
        display: inline-block;
        margin-right: -4px;
        vertical-align: top;
        width: 20%
    }

.slider-box input{
    width: 100%
}

.slider-range{
    margin: 5px 0
}

#priceRange{
    background-color: transparent;
}
.order-body{
    border-bottom: 1px solid silver;
}

.shop_check {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid gray;
    cursor: pointer;
}
.shop_check:hover {
    border: 2px solid black;
    width: 20px;
    height: 20px;
}

    .shop_check:checked {
        border: 2px solid black;
        width: 20px;
        height: 20px;
    }