@model Phone
<div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-product">
                <div class="modal-image">
                    <img src="~/uploads/phones/@Model.PhoneImages.FirstOrDefault(x=>x.Status==true)?.Name" alt="">
                </div>
                <div class="product-content">
                    <div class="inner">
                        <div class="product-rating">
                            <span class="product-rating">
                        @for (var i = 1; i <= 5; i++)
                        {
                            <i class="las la-star  @(Model.AvgRate>=i?"star-on":"")"></i>
                        }

                            </span>
                            <span class="rating-number">()</span>
                        </div>
                        <h5 class="title"><a href="~/#" tabindex="0">@Model.Name</a></h5>
                        <div class="product-price">
                            @if (Model.DiscountPercent > 0)
                            {
                                <span class="price current-price">$@((Model.SalePrice * (100 - Model.DiscountPercent) / 100).ToString("0.00"))</span>
                                <del class="price old-price">$@Model.SalePrice.ToString("0.00")</del>
                            }
                            else
                            {
                                <span class="price current-price">$@Model.SalePrice.ToString("0.00")</span>
                            }
                        </div>
                        <div class="modal-cart mt-5">
                            <a class="btn btn-danger color-btn" href="#" tabindex="0">Add to Cart</a>
                            <a class="btn btn-outline-dark color-red" href="#" tabindex="0"><i class="las la-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
