@model PhoneModel
<div class="container">
    <h4>Create</h4>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-action="create" method="post">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" type="text" class="form-control">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <button type="submit" class="btn btn-primary m-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>